<!DOCTYPE html>
<html>
	<head
		th:replace="fragments/bootstrap::head(title='Main')"
		title="TodoEmpleos"
	>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<link
			rel="shortcut icon"
			href="../../resources/static/img/logo_todoempleos_negro.png"
			type="image/x-icon"
		/>
		<link rel="stylesheet" href="../static/css/parts.css" />
	</head>

	<!--<style>
		body {
			background-color: rgb(240, 240, 240);
		}
		.header {
			background-color: black;
		}
		.review {
			background-color: rgb(184, 184, 184);
		}

		.icon {
			width: 90%;
		}

		.nombre {
			font-size: 1rem;
		}
	</style>-->

	<body>
		<!--<div class="container-fluid col-12 ml-0 mr-0">
			<div class="row justify-content-center">-->
		<header th:insert="fragments/parts::menu"></header>
		<div class="col-10 justify-content-center mt-5 mb-5 ml-1">
			<div sec:authorize="!isAuthenticated()">
				<!--<img src="/img/background.png" class="img-fluid mx-auto d-block">-->
				<h3 class="container-fluid text-center mb-3">
					El mayor portal de empleo para autónomos
				</h3>

				<div class="review container col-8">
					<div class="row pt-3 pb-3 justify-content-center align-items-center">
						<h4 class="col-10">
							"Gracias a TodoEmpleos he duplicado mi número de clientes"
						</h4>
						<div class="col-2">
							<div class="row">
								<img class="icon" src="img/profilelogoWhite.png" alt="Logo" />
							</div>
							<div class="row text-center nombre">
								Carlos - Diseñador Gráfico
							</div>
						</div>
					</div>
				</div>
				<br />
				<br />
				<div class="review container col-8">
					<div class="row pt-3 pb-3 justify-content-center align-items-center">
						<h4 class="col-10">
							"Sin duda gracias a ésta plataforma mi negocio ha dado un salto
							adelante"
						</h4>
						<div class="col-2">
							<div class="row">
								<img class="icon" src="img/profilelogoWhite.png" alt="Logo" />
							</div>
							<div class="row text-center nombre">Tomás - Mecánico</div>
						</div>
					</div>
				</div>
			</div>
			<div sec:authorize="isAuthenticated()">
				<!--<input type="text" class="form-control" id="search" name="search" th:field="*{search}">
					<input type="submit" class="btn btn-warning w-100 mt-3" value="BUSCAR" />-->

				<form action="#" th:action="@{/}" th:object="${ad}" method="get">
					<label for="title" class="form-label mt-3">Title</label>
					<input
						type="text"
						class="form-control"
						id="title"
						name="title"
						th:field="*{title}"
					/>
					<!--<label for="tipo" class="form-label mt-3">Tipo</label>
						<select name="tipo" class="form-select mt-3" th:field="*{tipo}">
							<option th:value="'TODOS'" th:text="TODOS">TODOS</option>
							<option th:value="'OFERTA'" th:text="OFERTA">OFERTA</option>
							<option th:value="'DEMANDA'" th:text="DEMANDA">DEMANDA</option>
						</select>-->
					<input
						type="submit"
						class="btn btn-success w-100 mt-3 mb-5"
						value="BUSCAR"
					/>
				</form>

				<div th:if="${busqueda.size>=1}">
					<div class="col-12">
						<h2>Resultados de "<span th:text="${title}"></span>":</h2>
					</div>
					<div class="row justify-content-center" th:each="ad : ${busqueda}">
						<!--th:if="${busqueda.size>=1}"-->
						<div class="card col-3" style="width: 18rem">
							<div th:text="${ad.title}" class="card-header"></div>
							<ul class="list-group list-group-flush">
								<li th:text="${ad.description}" class="list-group-item"></li>
								<li th:text="${ad.tipo}" class="list-group-item"></li>
								<li class="list-group-item"></li>
								<li class="btn btn-primary">
									<a
										th:href="@{/contact(ad=${ad.getIdAd()})}"
										class="nav-link text-white"
										>Contactar</a
									>
								</li>
								<!--<li class="btn btn-primary">-->
								<!--<li>
										<form action="#" th:action="@{/contact}" th:object="${ag}" method="post">
											<input type="submit" class="btn btn-primary w-100 mt-3" value="Contactar" />
											<!--<a th:href="@{/contact(ad=${ad.getIdAd()})}"
											class="nav-link text-white">Contactar</a></li>-->
								<!--</form>
									</li>-->
							</ul>
						</div>
					</div>
				</div>
				<div th:unless="${busqueda.size>=1}">
					<div th:if="${title != null}" class="col-12">
						<h2>No hay resultados de "<span th:text="${title}"></span>"</h2>
					</div>
					<div th:if="${title==null}" th:each="ad : ${anuncios}">
						<!--th:unless="${busqueda.size>=1}"-->
						<div class="card col-3" style="width: 18rem">
							<div th:text="${ad.title}" class="card-header"></div>
							<ul class="list-group list-group-flush">
								<li th:text="${ad.description}" class="list-group-item"></li>
								<li th:text="${ad.tipo}" class="list-group-item"></li>
								<li class="list-group-item"></li>
								<li class="btn btn-primary">
									<a
										th:href="@{/contact(ad=${ad.getIdAd()})}"
										class="nav-link text-white"
										>Contactar</a
									>
								</li>
								<!--<li class="btn btn-primary">-->
								<!--<li class="list-group-item">
										<form action="#" th:action="@{/contact}" th:object="${ag}" method="get">
											<input type="submit" class="btn btn-primary w-100 mt-3"
												value="Contactar" />
											<!--<a th:href="@{/contact(ad=${ad.getIdAd()})}"
											class="nav-link text-white">Contactar</a></li>-->
								<!--</form>
									</li>-->
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div sec:authorize="hasRole('ADMIN')">
				<!--<img src="/img/inicio_admin.png" class="img-fluid mx-auto d-block" alt="Imagen de admin" />-->
				<!--<a th:href="@{/adminPanel}" class="btn btn-danger">PANEL DE ADMINISTRADOR</a>-->
			</div>
			<div sec:authorize="hasRole('USER')">
				<!--<img src="/img/inicio_usuario.png" class="img-fluid mx-auto d-block" alt="Imagen de usuario" />-->
			</div>
		</div>
		<!--<span th:replace="fragments/parts::addAd"></span>-->
		<footer th:replace="fragments/parts::footer(info='menu.home')"></footer>
		<!--</div>
		</div>-->
	</body>
	<script
		src="https://kit.fontawesome.com/1fdd1e07ea.js"
		crossorigin="anonymous"
	></script>
</html>
