<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='Main')">
<link rel="shortcut icon"
	href="../../resources/static/img/logo_todoempleos_negro.png"
	type="image/x-icon" />
</head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>
			<div class="col-10 mt-5 mb-5">
				<div sec:authorize="!isAuthenticated()">
					<!--<img src="/img/background.png" class="img-fluid mx-auto d-block">-->
				</div>
				<div sec:authorize="isAuthenticated()">

					<!--<input type="text" class="form-control" id="search" name="search" th:field="*{search}">
					<input type="submit" class="btn btn-warning w-100 mt-3" value="BUSCAR" />-->

					<form action="#" th:action="@{/user}" th:object="${adByTitle}"
						method="get">
						<label for="usuario" class="form-label mt-3">Title</label> <input
							type="text" class="form-control" id="title" name="userName"
							th:field="*{title}">-->
						<!--<label for="tipo" class="form-label mt-3">Tipo</label>
						<select name="tipo" class="form-select mt-3" th:field="*{tipo}">
							<option th:value="'TODOS'" th:text="TODOS">TODOS</option>
							<option th:value="'OFERTA'" th:text="OFERTA">OFERTA</option>
							<option th:value="'DEMANDA'" th:text="DEMANDA">DEMANDA</option>
						</select>-->
						<input type="submit" class="btn btn-success w-100 mt-3"
							value="BUSCAR" />
					</form>
					
					<div th:each="ad : ${adByTitle}">
						<div class="card" style="width: 18rem;">
							<div th:text="${ad.title}" class="card-header"></div>
							<ul class="list-group list-group-flush">
								<li th:text="${ad.description}" class="list-group-item"></li>
								<li th:text="${ad.tipo}" class="list-group-item"></li>
								<li class="list-group-item"></li>
								<li class="btn btn-primary">Contactar</li>
							</ul>
						</div>
					</div>

					<!--<div class="card" style="width: 18rem;">
						<div class="card-header"></div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Cras justo odio</li>
							<li class="list-group-item">Dapibus ac facilisis in</li>
							<li class="list-group-item">Vestibulum at eros</li>
						</ul>
					</div>-->
					<!--<p th:text="${ads.title}"></p>-->
					<!--<tr th:each="ad : ${ads}">
						<td th:text="${ad.title}" />
						<td th:text="${ad.description}" />
					</tr>-->
					<!-- Tabla que muestra todos los anuncios sin filtro -->
					<!--<span th:each="ad : ${ads}">
						<div class="card" style="width: 18rem;">
							<div th:text="${ad.title}" class="card-header"></div>
							<ul class="list-group list-group-flush">
								<li th:text="${ad.description}" class="list-group-item"></li>
								<li th:text="${ad.tipo}" class="list-group-item"></li>
								<li class="list-group-item"></li>
								<li class="btn btn-primary">Contactar</li>
							</ul>
						</div>
					</span>-->
				</div>
				<div sec:authorize="hasRole('ROLE_ADMIN')">
					<!--<img src="/img/inicio_admin.png" class="img-fluid mx-auto d-block" alt="Imagen de admin" />-->
					<!--<a th:href="@{/adminPanel}" class="btn btn-danger">PANEL DE ADMINISTRADOR</a>-->
				</div>
				<div sec:authorize="hasRole('ROLE_USER')">
					<!--<img src="/img/inicio_usuario.png" class="img-fluid mx-auto d-block" alt="Imagen de usuario" />-->
				</div>
			</div>
			<!--<span th:replace="fragments/parts::addAd"></span>-->
			<footer th:replace="fragments/parts::footer(info='menu.home')"></footer>
		</div>
	</div>
</body>
</html>
