<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='Editar estudiante')"></head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<form action="#" th:action="@{/admin/update}" th:object="${usuario}" method="post">
					<label for="usuario" class="form-label mt-3">Id</label>
    				<input type="text" class="form-control" id="id" name="id" th:field="*{id}" readonly>
					<label for="usuario" class="form-label mt-3">Nombre de usuario</label>
    				<input type="text" class="form-control" id="userName" name="userName" th:field="*{userName}" required >	
    				<label for="nombre" class="form-label mt-3">Nombre</label>
    				<input type="text" class="form-control" id="firstName" name="firstName" th:field="*{firstName}" required >
    				<label for="apellidos" class="form-label mt-3">Apellidos</label>
    				<input type="text" class="form-control" id="lastName" name="lastName" th:field="*{lastName}" required >
    				<label for="email" class="form-label mt-3">Email</label>
    				<input type="email" class="form-control" id="email" name="email" th:field="*{email}" required >
    				<label for="password" class="form-label mt-3">Password</label>
    				<input type="password" class="form-control" id="password" name="password" th:field="*{password}" required>
    				<label for="birthDate" class="form-label mt-3">BirthDate</label>
    				<input type="date" class="form-control" id="bithDate" name="birthDate" th:field="*{birthDate}" required>
    				<label for="role" class="form-label mt-3">Role</label>
    				
    				<!--<div th:if="${usuario.role=='ROLE_USUARIO'}">-->
    				<select name="role" class="form-select mt-3"  th:field="*{role}">
	                    	<option th:value="'ROLE_USUARIO'" th:text="USUARIO">USUARIO</option>
	                    	<option th:value="'ROLE_ADMIN'" th:text="ADMIN">ADMIN</option>
                    </select>
    				<!--<input type="text" class="form-control" id="role" name="role" th:field="*{role}" required>-->
    				<input type="submit" class="btn btn-primary w-100 mt-3" value="ACTUALIZAR" />
				</form>
			</div>		
		</div>
	</div>
</body>
</html>