<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap::head(title='Anuncios')"></head>
<meta charset="utf-8">
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>
			<div class="col-8">
				<h1 class="text-center">Lista de anuncios que has subido</h1>
				<table th:if="${!adList.isEmpty()}" class="table table-stripped table-hover">
					<thead class="table-light">
						<tr>
							<th>ID</th>
							<th>Título</th>
							<th>Fecha subida</th>
							<th>Descripción</th>
							<th>Precio</th>
							<th>Tipo</th>
						</tr>
					</thead>
					<tbody>
							<!--<tr th:if="${ad.getUsuario().getId()} == ${user.getId()}" th:each="ad : ${listaAds}">-->
							<tr th:each="ad : ${adList}">
								<td th:text="${ad.getIdAd()}"></td>
								<td th:text="${ad.getTitle()}"></td>
								<td th:text="${ad.getDescription()}"></td>
								<td th:text="${ad.getPrice()}"></td>
								<td th:text="${ad.getDate()}"></td>
								<td th:text="${ad.getTipo()}"></td>
							<!--<td><a th:href="@{/admin/update(user=${u.getId()})}" class="btn btn-info">Editar</a></td>
							<td><a th:href="@{/admin/delete(user=${u.getId()})}" class="btn btn-danger">Eliminar</a></td>-->
							</tr>
					</tbody>
				</table>
				<h3 th:if="${adList.isEmpty()}" class="text-center">Aún no tienes ningún anuncio subido</h3>
			</div>

			<!--<footer th:replace="fragments/parts::footer(info='menu.students')"></footer>-->
		</div>
	</div>
</body>
</html>