<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap::head(title='Alumnos')"></head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>
			<div class="col-8">
				<h1 class="text-center">Lista de usuarios</h1>
				<table class="table table-stripped table-hover">
					<thead class="table-light">
						<tr>
							<th>ID</th>
							<th>username</th>
							<th>email</th>
							<!--<th>password</th>-->
							<th>Nombre</th>
							<th>Apellidos</th>
							<th>Rol</th>
							<th>Fecha de Nacimiento</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
							<tr th:each="u : ${usuarios}">
							<td th:text="${u.getId()}"></td>
							<td th:text="${u.getUserName()}"></td>
							<td th:text="${u.getEmail()}"></td>
							<td th:text="${u.getFirstName()}"></td>
							<td th:text="${u.getLastName()}"></td>
							<td th:text="${u.getRole()}"></td>
							<td th:text="${u.getBirthDate()}"></td>
							<!--<td><a th:href="@{'/alumnos/asignaturas?codigo='+${a.getId()}}"><i class="bi bi-journal-bookmark-fill"></i></a></td>-->
							</tr>
					</tbody>
				</table>
			</div>

			<!--<footer th:replace="fragments/parts::footer(info='menu.students')"></footer>-->
		</div>
	</div>
</body>
</html>